/* ed5100 */
/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: none;
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------ END RESET ----------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
a {
	color: #f16020;
}

footer {
	font-size: 10px;
	text-align: center;
	padding-top: 60px;
}

footer, header {
	background: #333327;
}

header {
	height: 50px;
}

header h1 {
	text-indent: -9999px;
}

html {
	background: #fff;
	color: #7d7d7d;
	font: 14px Arial, sans-serif;
}

input, select {
	background: #efefef;
	border: none;
	border-radius: 2px;
	display: block;
	height: 30px;
	margin-bottom: 10px;
	width: 100%;
}

input[type=submit] {
	background: #c64f12;
	color: #fff;
	font-family: 'Francois One', sans-serif;
	font-size: 14px;
	margin: 20px 0;
}

label {
	font-size: 12px;
}

select {
	background: url('/img/select-arrow.png') no-repeat right #efefef;
	line-height: 1;
	-webkit-appearance: none;
}

#main-feature {
	position: absolute;
	top: 50;
	left: 0;
	width: 100%
}

#main-feature * {
	width: 100%
}

.areas-of-focus {
	background: #d4d4d4;
}

.areas-of-focus .one-third {
	margin-top: -30px;
}

.areas-of-focus h3 {
	color: #444;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}

.areas-of-focus img {
	display: block;
	border: 13px #D4D4D4 solid;
	border-radius: 60px;
	width: 81px;
	height: 81px;
	background: #fff;
	margin: 0 auto;
}

.areas-of-focus, footer, .online-experience, .areas-of-focus-heading {
	padding-bottom: 60px;
}

.areas-of-focus-heading h2 {
	font: 24px 'Open Sans', sans-serif bold;
	text-align: center;
	text-transform: uppercase;
}

.areas-of-focus-heading img {
	margin-top: 1.5%;
}

.degree-name {
	background-color: rgba(26,26,26,0.8);
	width: 287px;
}

.degree-name p {
	margin: 0 30px 15px 30px;
	font: 18.06px Arial, Helvetica, sans-serif bold;
	color: #fff;
}

.degree-name span {
	font-style: italic;
}

.degree-name h1 {
	color: #fff;
	font: 22.07px Arial, Helvetica, sans-serif bold;
	margin: 15px 30px 0 30px;
}

.degree-description h2 {
	color: #444444;
	font: 30.04px 'Open Sans', sans-serif;
}

.degree-description p {
	margin-bottom: 20px;
}

.degree-overview {
	margin-bottom: 50px;
}

.online-experience {
	background: #b1b1b1;
	color: #595959;
	padding-top: 20px;
}

.online-experience h2{
	color:#fff;
	font-size: 18px;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.online-experience h3{
	font-size: 24px;
}

.online-experience li{
	font: 16px 'Arial', sans-serif;
}

.online-experience span{
	display: block;
	font-size: 16px;
}

.online-experience h2, .online-experience h3, .online-experience span{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.online-experience li, .online-experience span{
	margin-bottom: 20px;
}

.request-info {
	background: #383421;
	color: #f7f6f6;
	font-family: 'Francois One';
	margin-top: 40px;
	padding: 20px 0;
}

.request-info h2, .request-info p, .request-info form {
	margin: 0 20px;
}

.request-info h2 {
	display: block;
	margin-bottom: 20px;
}
.request-info p {
	font-family: 'Verdana', sans-serif;
	font-size: 10px;
	line-height: 1.2em;
}

.request-info h2, .request-info input[type=submit] {
	text-transform: uppercase;
}

.row {
	margin-bottom: 0;
}

#slidr-ul {
	width: 100%;
}

/*SLIDR OVERRIDES*/
aside[id="slidr-ul-breadcrumbs"] {
	right: 50% !important;
	margin-right: -100px !important;
	margin-bottom: -40px !important;
}

aside[id="slidr-ul-breadcrumbs"] .slidr-breadcrumbs li {
	width: 10px !important;
	height: 10px !important;
	margin: 15px !important;
}

aside[id="slidr-ul-breadcrumbs"] .slidr-breadcrumbs li.normal {
	border: none !important;
	background-color: #fff !important;
}

aside[id="slidr-ul-breadcrumbs"] .slidr-breadcrumbs li.active {
	background-color: #595959 !important;
}

/*Hide all arrows within a single controller.*/
aside[id="slidr-ul-control"] .slidr-control:after {
	border: transparent !important;
}

aside[id="slidr-ul-control"] .slidr-control.right, aside[id="slidr-ul-control"] .slidr-control.left {
	width: 30px !important;
	height: 70px !important;
	top: 50% !important;
	margin-top: -25px !important;
}

aside[id="slidr-ul-control"] .slidr-control.right {
	right: -25px !important;
	background: url('/img/right-arrow.png') no-repeat;
}

aside[id="slidr-ul-control"] .slidr-control.left {
	left: -25px !important;
	background: url('/img/left-arrow.png') no-repeat;
}

/*MEDIA QUERIES*/
@media all and (max-width: 767px) {
	.areas-of-focus .one-third {
		margin-top: 0px;
	}

	.areas-of-focus .one-third.alpha {
		margin-top: -30px;
	}
}